@import "radio"
$card-main: 130px
$card-extra: 30px

.card-body
	height: $card-main

.card-body-upper
	@extend .card-body
	height: $card-main + $card-extra
	overflow: clip

.card-body-lower
	height: $card-extra
	background: linear-gradient(to top, #ffffffff, #00000000)
	border-left: 0

.card-img-top
	background-size: auto 100%
