$transition: 250ms
$hero-height: 50vh
$back: #d8ebff

nav
	transition: $transition
	background-color: #fff

body
	background-color: $back

footer
	background-color: rgb(43, 100, 246)
	border-top-width: 1rem