$transition: 250ms

.search-click
	border: 1px solid #ccc
	outline: none
	background-size: 22px
	background-position: 13px
	border-radius: 10px
	width: 50px
	height: 50px
	padding: 25px
	transition: all 0.5s

.search-click:focus
	width: 300px
	padding-left: 50px

.search-click
	position: relative
	overflow: hidden
	height: 50px

.search-click input
	background: transparent
	border: 1px solid #ccc
	outline: none
	position: absolute
	width: 300px
	height: 50px
	left: 0
	padding: 10px

nav
	transition: $transition
	background-color: #fff

body
	background-color: #99c2ff

footer
	background-color: rgb(43, 100, 246)
	border-top-width: 1rem

.hero-head
	font-size: calc(2rem + 5.5vw)
	font-weight: 300

.hero-body
	color: #eeefff

.hero
	z-index: 0
	height: 70vh
	width: 100vw
	position: absolute

.hero-over
	transition: 250ms
	width: min(100%, 85vw)
	min-height: 300px
	text-align: center
	margin-right: auto
	margin-left: auto
	border-radius: 3% !important

.hero-over-drop
	@extend .hero-over

.hero-over-drop:hover
	transition: $transition
	box-shadow: rgba(0, 0, 0, 0.15) 2.6px 2.6px 3.3px

$fa-hover: 5.5rem

.hero-over:hover > .card-body > .card-title
	transition: $transition
	font-size: $fa-hover
	color: black

.card-title
	transition: $transition
	color: #505050
	height: $fa-hover

#hero-container > .row
	--bs-gutter-x: 0
	min-height: 50vh

.container:last-of-type
	padding-bottom: 2rem
